{% extends 'base.html' %} {% block title %} video bio- {% endblock title %}
{%load static %} {% block body %}
<style>
  .bold_text {
    font-weight: bold;
    text-transform: capitalize;
  }

  .play-btn {
    text-decoration: none !important;
    font-weight: bold;
  }
</style>

<div class="container-fluid">
  <div class="row m-0  p-4 ">
    <div class="col-12 mx-0 ">
      <div class="row">
        <div class="col-4">
          <!-- video for the show  -->
          <img height="500" width="100%" src="{% static 'bg1.jpg' %}" alt="" />
        </div>
        <div class="col-8">
          <div class="row">
            <h4>
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Nobis,
              temporibus?
            </h4>

            <div class="row">
              <div class="col-6">
                  <p>
                    <span class="bold_text">hero </span>: Lorem ipsum dolor sit
                    amet consectetur adipisicing elit. Nobis, temporibus? and
                    heroin
                  </p>
                 

                 
                </div>
              <div class="col-6">
         <p>
                      <span class="bold_text"> heroin </span>
                    Lorem ipsum dolor sit amet consectetur
                  </p>
            </div>
</div>
            <div class="row">
              <div class="col-6">
                      <p>
                  <span class="bold_text">Director and Producer </span>: Lorem
                  ipsum dolor sit amet consectetur adipisicing elit. Nobis,
                  temporibus?
                </p>
                <p>
              </div>
              <div class="col-6">
   
                  <span class="bold_text">Studio</span>: Lorem ipsum dolor sit
                  amet consectetur. temporibus?
                </p>
              
              </div>
            </div>



            <div class="row">
              <div class="col-6">
                  <p>
                    <span class="bold_text">Type </span>: Lorem ipsum dolor sit
                  </p>
              </div>
              <div class="col-6">
               
                <p>
                  <span class="bold_text"> Released on:</span>: 2021/12/2
                </p>
              </div>
            </div>
          
          </div>

 <div class="row" style="height:40vh; overflow: scroll; ">
        <div class="col-12">
          <p>
            <span class="bold_text">Biography</span>: Lorem ipsum dolor sit,
            amet consectetur adipisicing elit. Inventore, obcaecati placeat
            labore dolor et veritatis provident quae exercitationem architecto
            maiores porro rerum vitae eaque, nam quis minima suscipit
            voluptates? Voluptatibus odit molestiae esse ullam illo enim optio
            blanditiis saepe, nemo voluptas neque? Ad cum quaerat numquam et,
            aliquid temporibus. Esse, rem? Quidem suscipit rem id velit quisquam
            pariatur perspiciatis aliquam. Earum, deserunt. At eligendi
            consectetur necessitatibus incidunt numquam in neque, quam nam
            placeat laborum labore illum maxime? Dolore eligendi ipsam itaque,
            qui soluta officia quisquam libero magni, ab molestiae obcaecati
            exercitationem deleniti, quis harum ad alias sapiente unde
            necessitatibus natus reiciendis. Atque reiciendis sit, nemo tenetur
            aperiam eaque, expedita quos, fugit officia nobis neque eum enim?
            Maiores ut adipisci cumque nihil ea pariatur blanditiis! Sit
            temporibus nam cupiditate. Eum consectetur vel quo nostrum.
            Dignissimos distinctio, esse voluptas sint aspernatur delectus ab
            porro minima hic culpa praesentium vel unde? Voluptatibus quibusdam
            maiores aliquam non dignissimos, aspernatur molestiae soluta magnam
            error, sequi corporis magni fuga laborum voluptas vitae sit
            laudantium recusandae! Officia maxime temporibus rerum cumque
            deleniti alias dolorem laborum eius fugiat reprehenderit. Beatae id
            rem eveniet quos praesentium autem, nulla at et veritatis
            necessitatibus veniam hic atque ratione doloremque? Veniam corrupti
            facere, ea accusantium deleniti animi a explicabo corporis
            repellendus architecto ex illo earum nobis eius esse asperiores
            cumque natus reprehenderit iusto officiis dicta nulla ipsam fugiat!
            Voluptate eum omnis in autem necessitatibus fugiat alias vero
            numquam ad eaque saepe, non recusandae, illo aliquid ab.
            Dignissimos, eum nesciunt! Veritatis, totam ex. Eveniet eos nam qui
            sequi error ipsam atque eius doloremque, ad eligendi maxime illum
            quos tempore, reiciendis non! Tenetur totam reiciendis suscipit
            aliquid eos incidunt autem delectus inventore, nihil est et fugit
            maxime minus quibusdam soluta. Rerum veritatis assumenda perferendis
            blanditiis. Natus, architecto repellat ea distinctio atque est quo
            adipisci voluptatum corporis sint voluptatibus vitae quasi quis,
            commodi dolorum dolores illum impedit, illo nesciunt doloribus ex
            quaerat. Optio suscipit perspiciatis quasi labore doloremque!
            Perspiciatis nostrum voluptates odit, odio aperiam perferendis
            fugiat adipisci in consectetur, assumenda earum error velit maxime
            iusto explicabo dolor aut consequatur? Repellat nostrum ratione
            aspernatur laboriosam beatae ea dignissimos labore molestias culpa
            explicabo voluptates fugit repellendus dolores nisi, in odit ipsum
            eaque, ullam saepe! Exercitationem quisquam dolorem ullam fugiat
            unde dolore delectus est animi quia suscipit expedita incidunt
            similique nemo id reiciendis, ad dolorum veritatis totam illo. At
            id, asperiores ducimus, libero voluptates fugit totam ex odit et
            distinctio delectus sunt obcaecati consequatur perspiciatis
            molestiae cupiditate neque nemo officia, aperiam amet eos quidem
            reprehenderit! Deserunt quod iure sapiente aliquid, dignissimos
            veniam esse dolorem libero accusamus corporis impedit autem
            asperiores blanditiis vero soluta doloribus ducimus beatae enim,
            nostrum voluptatibus repudiandae illo veritatis ipsum sequi! Dolor
            facilis fugit rerum iste laborum voluptates blanditiis nostrum
            eligendi optio vel, soluta expedita eos et, repellat molestias
            perspiciatis dignissimos accusantium. Cumque et quae atque quasi
            maiores, optio velit ipsum nemo esse dolor? Laborum dignissimos,
            nihil impedit quidem distinctio facilis ad fuga quam dolore minus
            voluptate! Explicabo voluptate fuga commodi recusandae fugit
            possimus blanditiis?
          </p>
        </div>
      </div>

        </div>
      </div>
        <div class="row">
              <div class="col-12">
                <div class="btn btn-block btn-outline-light">
                  <a href="/show/whenplay" class="play-btn">
                    Play now <i class="fa fa-play"> </i
                  ></a>
                </div>
              </div>
            </div>
     
    </div>


  </div>

  <hr />
  <!-- related videos -->
  <h5>Related movies</h5>

  <section class="m-4 p-4 border_top_bottom">
    <div class="row m-0 p-0">
      <div class="col-6">
        <h6>Tranding Movies</h6>
      </div>

      <div class="col-6">
        <h6 class="text-primary text-right">view all</h6>
      </div>
    </div>
    <div class="row">
      {% for i in movie %}

      <div class="wapper">
        <div class="image">
          <img src="/media/{{i.flix_poster}}" />
        </div>
        <div class="content">
          <div class="info">
            <h2>{{i.name}}</h2>
            <span>{{i.categorys}}</span>
          </div>
        </div>
        <ul class="ul">
          <li class="li">
            <a href="/show/whenplay"><span class="fa fa-play"></span></a>
          </li>
          <li class="li">
            <a href="/show/bio"><span class="fa fa-info"></span></a>
          </li>
        </ul>
      </div>
      <div class="wapper">
        <div class="image">
          <img src="/media/{{i.flix_poster}}" />
        </div>
        <div class="content">
          <div class="info">
            <h2>{{i.name}}</h2>
            <span>{{i.categorys}}</span>
          </div>
        </div>
        <ul class="ul">
          <li class="li">
            <a href="/show/whenplay"><span class="fa fa-play"></span></a>
          </li>
          <li class="li">
            <a href="/show/bio"><span class="fa fa-info"></span></a>
          </li>
        </ul>
      </div>
      <div class="wapper">
        <div class="image">
          <img src="/media/{{i.flix_poster}}" />
        </div>
        <div class="content">
          <div class="info">
            <h2>{{i.name}}</h2>
            <span>{{i.categorys}}</span>
          </div>
        </div>
        <ul class="ul">
          <li class="li">
            <a href="/show/whenplay"><span class="fa fa-play"></span></a>
          </li>
          <li class="li">
            <a href="/show/bio"><span class="fa fa-info"></span></a>
          </li>
        </ul>
      </div>
      <div class="wapper">
        <div class="image">
          <img src="/media/{{i.flix_poster}}" />
        </div>
        <div class="content">
          <div class="info">
            <h2>{{i.name}}</h2>
            <span>{{i.categorys}}</span>
          </div>
        </div>
        <ul class="ul">
          <li class="li">
            <a href="/show/whenplay"><span class="fa fa-play"></span></a>
          </li>
          <li class="li">
            <a href="/show/bio"><span class="fa fa-info"></span></a>
          </li>
        </ul>
      </div>
      <div class="wapper">
        <div class="image">
          <img src="/media/{{i.flix_poster}}" />
        </div>
        <div class="content">
          <div class="info">
            <h2>{{i.name}}</h2>
            <span>{{i.categorys}}</span>
          </div>
        </div>
        <ul class="ul">
          <li class="li">
            <a href="/show/whenplay"><span class="fa fa-play"></span></a>
          </li>
          <li class="li">
            <a href="/show/bio"><span class="fa fa-info"></span></a>
          </li>
        </ul>
      </div>
      <div class="wapper">
        <div class="image">
          <img src="/media/{{i.flix_poster}}" />
        </div>
        <div class="content">
          <div class="info">
            <h2>{{i.name}}</h2>
            <span>{{i.categorys}}</span>
          </div>
        </div>
        <ul class="ul">
          <li class="li">
            <a href="/show/whenplay"><span class="fa fa-play"></span></a>
          </li>
          <li class="li">
            <a href="/show/bio"><span class="fa fa-info"></span></a>
          </li>
        </ul>
      </div>

      {% endfor %}
    </div>
  </section>
</div>

{% endblock body %}
